.banner {
	padding: 20px 0;
}
.logo {
	max-width: 200px;
	height: auto;
}
.main-menu ul {
	display: flex;	
	padding: 20px 0;
}
.main-menu li {
	list-style: none;
	padding-right: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
#map-wrapper {
  	width: 100%;
  	padding: 40px 0;
}
  #map-wrapper svg {
    width: 440px; 
    height: 736px;
    overflow:visible;
}
#map-wrapper svg polygon {
    background: white;
    fill: #bcbec0;
    stroke: #303030;
    stroke-width: 1.0166;
    stroke-miterlimit: 3.8636;
    cursor: pointer; 
}
#map-wrapper svg polygon:hover {
    fill-opacity: 0.8; 
}
@media (min-width: 0px) and (max-width: 800px) {
    #map-wrapper svg polygon:hover {
         fill-opacity: 1; 
    }
}
#map-wrapper svg polygon.ABHPS { fill: #9999cc; }
#map-wrapper svg polygon.AJMPU { fill: #b88c74; }
#map-wrapper svg polygon.BCJMW { fill: #0099cc; }
#map-wrapper svg polygon.BDO { fill: #e0d7ea; }
#map-wrapper svg polygon.BLMP { fill: #f2e9cb; }
#map-wrapper svg polygon.CCGMS { fill: #85cebc; }
#map-wrapper svg polygon.CLW { fill: #cbb778; }
#map-wrapper svg polygon.CFIV { fill: #f4911e; }
#map-wrapper svg polygon.CJMM { fill: #cad9f0; }
#map-wrapper svg polygon.CCE { fill: #dbd1ce; }
#map-wrapper svg polygon.CEFJ { fill: #ecdaea; }
#map-wrapper svg polygon.CCDMS { fill: #85cebc; }
#map-wrapper svg polygon.Cook { fill: #d5afd2; }
#map-wrapper svg polygon.DMP { fill: #b9b2d9; }
#map-wrapper svg polygon.DKK { fill: #ef4f91; }
#map-wrapper svg polygon.ELRWW { fill: #79bde9; }
#map-wrapper svg polygon.FJPRW { fill: #e6efbc; }
#map-wrapper svg polygon.FMPT { fill: #66ccff; }
#map-wrapper svg polygon.GHHPSW { fill: #fedbbb; }
#map-wrapper svg polygon.GKW { fill: #79bde9; }
#map-wrapper svg polygon.HKMW { fill: #a7d59e; }
#map-wrapper svg polygon.HMRS { fill: #ffd457; }
#map-wrapper svg polygon.JSW { fill: #cfe1f4; }
#map-wrapper svg polygon.LM { fill: #66cccc; }
#map-wrapper svg polygon.LMW { fill: #c8df8e; }
#map-wrapper svg polygon.LMS { fill: #dee7df; }
#map-wrapper svg polygon.MMS { fill: #ffcccc; }
#map-wrapper svg text {
	pointer-events: none;
	fill: #303030 !important;
	font-family: ﻿ "Arial Nova Condensed", "Helvetica" !important;
	font-size: 12px; 
}
#map-wrapper svg text.small {
  	font-size: 10px; 
}
